.header {
  font-size: 68px;
  color: #f5db13;
  padding: 24px 0;
  letter-spacing: 1px;

}
h2 {
  font-size: 64px;
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 120px;
  line-height: 50px;
}