.footer {
  color: #f2b807;
  padding: 24px 0;
  letter-spacing: 1px;
  margin: 64px;
}
h3 {
  font-size: 64px;
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 120px;
  line-height: 50px;
}